@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

p{
    margin-bottom: 15px;
    font: size 20px;
    line-height: 20px;
    color:rgb(204, 180, 151);
}
h1.title{
    margin-bottom: 20px;
    color:indianred;
    font-family: 'Comforter Brush', cursive;
    text-transform: uppercase;
    font-size: 13px;
    word-spacing: 23px;
    letter-spacing: 4px;
}
.btn a{
    display: block;
    width: 200px;
    height: 35px;
    border: 2px solid #722f72;
    color: #0f0f0f;
    display: block;
    margin: 25px auto 0;
    text-align: center; 
}

.main_container{
    position: relative;
}

.navbar{
    width: 100%;
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.logo a{
    font-family: 'Comforter Brush', cursive;
    font-size: 34px;
    color: rgb(172, 56, 56);
}

.navbar .navbar_items ul{
    display: flex;

}
.navbar .navbar_items ul li{
    text-transform: uppercase;
    margin: 0 10px;
}

.navbar .navbar_items ul li a{
    color: rgb(202, 156, 38);
}

/* home page banner image */

.banner_iamge{
    background: url('../css/images/cakebanner.jpg')no-repeat center; 
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner_content{
    text-align: center;
    color: rgb(180, 82, 131);
}
.banner_content h1{
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 15px;
}
.banner_content h1 span{
    color:rgb(172, 56, 56) ;

}
/* About us page */
.about{
    padding:5% 10%;
    text-align: center;
}
/* Services */
.services{
	background: #ceb3b3;
    padding:5% 10%;
    text-align: center;
}

.diff_services {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.diff_services .diff_services_item {
    width: 30%;
}

.diff_services .diff_services_item img {
    width: 100%;
    margin-bottom: 25px;
}

.diff_services .diff_services_item h3 {
    color: #723f53;
    margin-bottom: 15px;
}
/* Contact us */







/* Our Team */

.ourteam{
	background: #ceb3b3;
}

.ourteam_wrapper{
	display: flex;
	flex-direction: column;
}

.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

.ourteam_wrapper .team.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_members{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.ourteam_wrapper .team_members img{
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.5s ease;
}

.ourteam_wrapper .team_members:hover img{
	transform: scale(1.1);
}

/* Footer */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  }
  .wrapper{
    display: inline-flex;
  }
  .wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    line-height: 60px;
    font-size: 25px;
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: rgb(77, 61, 61);
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before{
    background: #3B5999;
  }
  .wrapper .twitter:hover span,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip:before{
    background: #46C1F6;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before{
    background: #e1306c;
  }
 